@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
    color: #1C4C7B;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* NAV */
nav {
    background-color: white;
    height: 100px;
    width: 100%;
}

.menu {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger menu */
.ham-menu {
    display: none;
}

/* Hamburger menu ~ styling */
.ham-menu div {
    height: 5px;
    width: 30px;
    margin: 5px 0;
    background-color: #2B3694;
    transition: 0.5s ease;
    border-radius: 10px;
}

/* Hamburger menu ~ animation */
.ham-menu .top {
    transform: rotateZ(410deg) translate(-5% ,100%);
    margin: 0;
    transition: 0.5s ease;
}

.ham-menu .bottom {
    transform: rotateZ(-410deg) translate(-5%, -100%);
    margin: 0;
    transition: 0.5s ease;
}

.ham-menu .mid {
    transform: rotateZ(360deg);
    display: none;
    transition: 0.5s ease;
}

/* Main menu ~ Links */
ul {
    display: flex;
}

li {
    margin: 0 20px;
}

li:first-child {
    margin-top: 0;
}

a {
    color: #3C6EA0;
}

a:hover{
    text-decoration: underline;
}

.active, .active:hover {
    color: #2B3694;
    font-weight: bold;
    text-decoration: none;
}

/* Dropdown-menu for mobile version */
.drop-menu {
    display: none;
}

/* HEADER */
h1 {
    color: #09B6BE;
    font-size: 42px;
    font-weight: bold;
}

.heading-decor {
    color: #2B3694;
}

.heading {
    line-height: 3.5rem;
    padding-bottom: 1.5rem;
}

header {
    background-color: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    margin-top: 0;
    position: relative;
}

.text {
  order: 1;
    width: 51%;
}

.button-group {
    display: flex;
    flex-direction: row;
}

a.cta {
    background: #2B3694;
    border: 3px solid #2B3694;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 1.4rem;
    margin-top: 3rem;
    padding: 10px 20px;
text-decoration: none;}

#download-btn {
    border: 3px solid #09B6BE;
    background: #09B6BE;
text-decoration: none;}

#download-button {
    margin-right: 0.5rem;
}

.image {
    margin-bottom: 0 !important;
    order: 2;
    z-index: -1;
}

/* SECTION 1 ~ My services */
h2 {
  color: #2B3694;
  font-size: 26px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.services {
    background-color: #EDF7FA;
    min-height: 575px;
    padding: 30px 40px;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

h3, .section i {
    color: #2B3694;
}

.section i {
    font-size: 25px;
    font-weight: bold;
}

.section div {
    background-color: white;
    box-shadow: 0 2px 4px rgba(169,205,216,0.25);
    height: 300px;
    padding: 30px 30px 50px;
    position: relative;
    transition: ease-in 0.25s;
    width: 20%;
}

.section div:first-child {
  background-color: #C6EFFB;
}

.section div:hover {
  box-shadow: 0 2px 4px rgba(169,205,216,1);
}

.section p {
  font-size: 14px;
  margin-right: 26px;
  position: absolute;
  top: 150px;
}

/* SECTION 2 ~ Portfolio featured */
hr {
    background: #A6CEF5;
    border: 1px solid #A6CEF5;
    margin: 7px 0;
}

.portfolio {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FOOTER */
.footer-down {
    flex: 1 0 auto;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 100px;
    justify-content: center;
}

footer i {
    color: #2B3694;
    font-size: 30px;
}

.social-media a {
    padding: 0 10px;
    text-decoration: none;
}

footer p {
    padding-left: 2.5rem;
}

@media (max-width: 1280px) {
  h2 {
    margin-left: 0;
  }
  .section div {
      width: 30%;
  }
}

  @media (max-width: 1024px) {
    nav {
        height: 50px;
    }

    .menu {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin: 5px;
        padding: 5px 25px 10px;
    }

    li:first-child {
        margin-top: 30px;
    }

    a {
        color: #09B6BE;
    }

    a:focus {
        color: #2B3694;
    }

    ul {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    /* Dropdown-menu (mobile version) */
    .drop-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 40vh;
        background-color: #DCFFEF;
        transition: 0.5s cubic-bezier(0.9, -0.14, 0, 1.15);
        transform: translateY(-120%);
        list-style-position: inside;
    }

      .drop-down {
        transform:translateY(0%);
        box-shadow: 0 2px 4px rgba(26,64,66,0.25);
    }

    /* Main menu ~ Links */
    .drop-menu div a {
        color: #09B6BE;
        transition: 0.5s ease;
    }

    /* HEADER */
    header {
        flex-direction: column;
        height: 250px;
        margin-top: 0rem;
    }

    .services, .about-page {
        margin-top: 20.75rem !important;
        padding-bottom: 4.25rem !important;
    }

    .text {
        order: 2;
        width: 85%;
    }

    .button-group {
        flex-direction: column;
    }

    .cta {
        background: #2B3694;
        color: white;
    }

    .image {
        margin-bottom: 2.5rem;
        order: 1;
    }

    /* SECTION 1 ~ My services */
    .section {
        flex-direction: column;
        gap: 40px;
    }

    .section div {
        height: 250px;
        width: 100%;
    }

    .section p {
      position: unset;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }
    .social-media {
        display: block;
        margin-bottom: 1rem;
    }
    footer p {
        padding-left: 0;
    }
}

/* ABOUT PAGE */
.highlight-text {
    color: #09B6BE;
    font-size: 18px;
    font-style: italic;
}

.headline {
   color: #3C6EA0;
   line-height: 34px;
}

#profile {
    margin-bottom: 0;
    margin-top: 0;
}

.about-page {
    margin: 0 auto;
    max-width: 1525px;
    min-height: 600px;
    padding: 30px 40px;
}

.b, .paragraph {
    margin-bottom: 1rem;
}

.b {
    font-size: 18px;
    font-weight: bold;
}

.contact-button {
    background: white;
    border: 3px solid #2B3694;
    border-radius: 5px;
    color: #2B3694;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    text-decoration: none !important;
    transition: 0.25s;
}

.contact-button:hover {
    background: #2B3694;
    border: 3px solid #2B3694;
    color: white;
}

.button-wrap {
   margin-bottom: -3rem;
    margin-top: 4.75rem;
}

@media screen and (max-width: 1024px) {
    .bio {
        height: 100px;
    }
    #profile {
        margin-bottom: 1rem !important;
        margin-top: 3.5rem;
    }
    .button-wrap {
        margin-bottom: -2rem;
      margin-top: 4.25rem;
    }
}

/* CONTACT FORM */
.form-heading {
    color: #2B3694;
    font-size: 26px;
}

.required {
    font-weight: bold;
    color: #EC1C4E;
}

form {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px;
}

.form_column {
    margin-right: 50px;
}

.form_column,
.form_message {
  width: 45%;
  padding: 25px 0 0 0;
  float: left;
}
  
label {
    display: block;
    font-size: 14px;
    margin: 20px 0 16px;
}
  
input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 14px;
    background-color: #FDFDFD;
    border: 1px solid #cde1e2;
    resize: vertical;
    font-family: "Poppins", sans-serif;
    border-radius: 0.25em;
}
  
textarea {
    height: 130px;
}
  
input[type="submit"] {
    background: #2B3694;
    border: 2px solid #2B3694 !important;
    letter-spacing: 1.5px;
    margin: 56px 0 0;
    color: white;
    border: none;
    transition: all 0.25s ease-in-out;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #09B6BE;
    border-radius: 3px;
  outline: none;
}
  
/* hover and focus states */
select {
    color: #C6EFFB;
}

input[type="submit"]:hover {
    font-weight: bold;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    background: #f5f5f5;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: white;
    border: 2px solid #2B3694;
    color: #2B3694;
    cursor: pointer;
    outline: none;
}

input:focus, textarea:focus { 
    outline: none;
    border-color: #3C6EA0;
}

form:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 1024px) {
    .form-heading {
        margin-bottom: 50px;
    }
    form {
        margin-bottom: 75px;
        margin-top: -350px;
        padding: 35px;
    }
    .form_column,
    .form_message {
      width: 100%;
      float: none;
      padding: 0;
    }
}